body {
    padding: 0px;
    margin: 0px;
}

.list {
    position: absolute;
    width: 100%;
    height: 1200px;
    /*top: 52px;*/
    padding: 0 2%;
    background-color: rgba(220, 220, 224, 0.71);
}


.InputStyle {
    width: 120%;
}

.selectInput {
    width: 137%;
}

.buttonStyle {
    width: 80%;
}

.list_top {
    box-shadow: 10px 10px 10px rgb(190, 192, 193);
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    margin-bottom: 30px;
    margin-top: 20%;
    padding-bottom: 20px;
}

.list_top_picture {
    padding: 10px 20px;
    width: 100%;
}

    .list_top_picture .btn_style {
        width: 65px;
        border-radius: 5px;
        margin-left: 10px;
        height: 40px;
    }

.list_item .tab {
    width: 100%;
}

    .list_item .tab .tdLab {
        display: inline-block;
        width: 30%;
        text-align: center;
    }

        .list_item .tab .tdLab .selectBtn {
            width: 90%;
        }

    .list_item .tab .tdInput {
        display: inline-block;
        width: 41%;
    }



/*PoSuspense页面中新添样式*/
.tab_btn {
    width: 50%;
    margin-top: 5px;
}

.delelt_btn {
    float: right;
}

.container {
    width: 100%;
    padding: 0 25% 5px 25%;
}

    .container label {
        width: 30%;
        text-align: center;
    }

    .container input {
        width: 50%;
    }
/*-----------------------------------*/

.list_foot {
    margin-bottom: 10px;
    box-shadow: 10px 10px 10px rgb(190, 192, 193);
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
}

.foot_zb {
    width: 100%;
    padding-top: 10px;
    overflow: auto;
}


/*POzanshou添加样式*/
.foot_zb1 {
    width: 100%;
    padding-top: 10px;
    overflow: auto;
    display: none;
}

.zb_left {
    display: block;
    width: 40%;
    padding: 0 10px;
    height: auto;
    float: left;
}

#zb_left {
    width: 10%;
}

#zb_right {
    width: 90%;
    padding: 0 2%;
}

/*新添GridView样式*/
.mGrid {
    width: 100%;
    background-color: #fff;
    margin: 1em 0 5em 0;
    border: solid 1px #525252;
    border-collapse: collapse;
}

    .mGrid td {
        padding: 0px;
        border: solid 1px #c1c1c1;
        color: #717171;
    }

    .mGrid th {
        padding: 4px 2px;
        color: #fff;
        background: #424242 url(grd_head.png) repeat-x top;
        border-left: solid 1px #525252;
        font-size: 14px;
    }

    .mGrid .alt {
        background: #fcfcfc url(grd_alt.png) repeat-x top;
    }

    .mGrid .pgr {
        background: #424242 url(grd_pgr.png) repeat-x top;
    }

        .mGrid .pgr table {
            margin: 5px 0;
        }

        .mGrid .pgr td {
            border-width: 0;
            padding: 0 6px;
            border-left: solid 1px #666;
            font-weight: bold;
            color: #fff;
            line-height: 10px;
        }

        .mGrid .pgr a {
            color: #666;
            text-decoration: none;
        }

            .mGrid .pgr a:hover {
                color: #000;
                text-decoration: none;
            }

.foot_cb {
    border-top: 2px solid #d8d1d1;
    margin-top: 10px;
}

.cb_top {
    margin: 10px 0px 10px 10px;
}

/*-------------------------------遮罩区CSS-------------------------------------*/
#zindex {
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 999;
    background: rgba(0,0,0,0.7);
}

#div_togger1 {
    display: none;
    position: fixed;
    top: 200px;
    left: 30%;
    right: 30%;
    height: auto;
    margin: 0px auto;
    z-index: 1000;
    border-radius: 5px;
    background-color: #666;
}

#div_togger2 {
    display: none;
    position: fixed;
    top: 200px;
    left: 30%;
    right: 30%;
    height: auto;
    margin: 0px auto;
    z-index: 1000;
    border-radius: 5px;
    background-color: #666;
}

#div_togger3 {
    display: none;
    position: fixed;
    top: 200px;
    left: 30%;
    right: 30%;
    height: auto;
    margin: 0px auto;
    z-index: 1000;
    border-radius: 5px;
    background-color: #666;
}

.toggerHeader {
    text-align: center;
    font-size: 18px;
    border-bottom: 1px solid #777;
}

.toggerBody {
    margin: 5px 10%;
}

    .toggerBody label {
        text-align: center;
    }

    .toggerBody .input_text {
        width: 75%;
    }

    .toggerBody .select_text {
        width: 75%;
    }

.toggerFooter {
    padding: 5px 0px;
    text-align: center;
    border-top: 1px solid #777;
}
