body {
    padding: 0px;
    margin: 0px;
}

.list_item .tab tr {
    width: 60%;
}

.list_item .tab .tdLab {
    display: inline-block;
    width: 15%;
    text-align: center;
}

.list_item .tab .tdInput {
    display: inline-block;
    width: 20%;
}

.list_item .tab .tdLab .selectBtu {
    display: inline-block;
    width: 50%;
}
