
.toggerBody>div {
    margin: 5px auto;
}
    .toggerBody>div>label {
        margin: 0;
    }

/*---------------------------更新弹框布局------------------------------------*/
.toggerBody .update_lab {
    float:left;
    width: 48%;
    margin: 5px auto;
    text-align: center;
}

.toggerBody .update_lab>label {
    width: 50px;
}

/*---------------------删除弹框布局-------------------------*/
.toggerBody .toggerBody_lab label {
    margin-left: 34%;
    margin-bottom: 0px;
}

/*-------------------------料架设定搜索栏布局-------------------------------------*/
.list_item .tab .tdLab{
    display:inline-block;
    width:8%;
    text-align:center;
}

    .list_item .tab .tdLab .selectBtn {
        width: 70%;
    }

.list_item .tab .tdInput{
    display:inline-block;
    width:15%;
}