body {
    padding: 0;
    margin: 0;
}


/*-------------------------料架设定搜索栏布局-------------------------------------*/

   .list_item .tab .tdLab {
            display: inline-block;
            width: 8%;
            text-align: center;
        }

            .list_item .tab .tdLab .selectBtn {
                width: 70%;
                padding-right :5px;
            }

        .list_item .tab .tdInput {
            display: inline-block;
            width: 14%;
        }